@import "./colors.css";

.board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(980px / 1.085);
}

.board__column{
    width: calc(420px / 1.05);
    height: calc(848.24px / 1.05);
    background-color: var(--cardBackground);
    border-radius: 50px;
    margin-left: 54px;
    overflow: hidden;
}

.board__column .column--title{
    padding: 20px 0px;
    text-align: center;
    background-color: var(--titleBackground);
    color: var(--titleText);
    font-size: var(--title);
}



.board__column-container{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ready-to-start--column{
    margin-left: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#done--column{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}