@import "./fonts.css";
@import "./colors.css";

.board__taskCreator-container{
    width: 500px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.board__taskCreator{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board__taskCreator h1{
    width: 500px;
    height: calc(70px / 1.07);
    background-color: #D8DCDC;
    color: var(--titleBackground);
    border-top-left-radius: 50px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title);
}

.board__taskCreator-form--item{
    width: 345px;
    height: 90px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 29px;
    padding-left: 28px;
    padding-right: 28px;
}

#task-description-container{
    height: 200px;
}

.board__taskCreator-form--item label{
    font-size: var(--title);
    color: var(--taskCreatorContent);
}

.board__taskCreator-form--item-input--item{
    width: 351px;
    height: 150px;
    margin-top: 18px;
    border: 0px transparent;
    border-radius: 12px;
}

::placeholder{
    padding-top: 5px;
    padding-left: 21.5px;
}


.board__taskCreator-content{
    background-color: var(--titleBackground);
    height: calc(840px / 1.07);
    width: 500px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

